.main{
    background-color: aqua;
    display: flex;
    border: solid 1px green;
 }
 
 .container-left{
    padding: 1px;
    width: 470px;
    flex: 0 0 470px;
    background-color: bisque;
 }
 
 .container-right{
    background-color: darkgray;
 }
 
 @media (max-width: 1024px){
    .main{
        display: block;
    }
    .container-left{
        padding: 0;
        width: auto;
    }
    .container-left-list{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        width: inherit;
        background-color: bisque;
    }
    .container-right{
        left: 0;
        margin: 0;
        width: auto;
        height: 100%;
    }
    .container-left-item{
        margin-right: 5px;
    }
}